/* You can add global styles to this file, and also import other style files */


/* scale numbers for the range slider */
.noUi-value.noUi-value-horizontal.noUi-value-large {
    margin-top: 10px;
    height: 15px;
}

/* color of the range slider range */
.noUi-connect.noUi-draggable {
    background-color: #3f5eb8
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}