/* You can add global styles to this file, and also import other style files */


/* scale numbers for the range slider */
.noUi-value.noUi-value-horizontal.noUi-value-large {
    margin-top: 10px;
    height: 15px;
}

/* color of the range slider range */
.noUi-connect.noUi-draggable {
    background-color: #3f5eb8
}
