<div class="container-fluid">
  <form class="form-horizontal">
    <div class="form-group row">
   
      <div class="col-sm-2">
        <input class="form-control" [min]="someMin" [max]="someMax" 
        name="min" [(ngModel)]="someValue[0]" type="number" 
        (change)="onChange0(someValue[0])" (input)="onChange0(someValue[0])">
      </div>
      <div class="col-sm-8">
        <nouislider [connect]="true" name="slider" id="slider" [min]="someMin" [max]="someMax" 
        [config]="someKeyboardConfig" [(ngModel)]="someValue"
          (change)="onChange($event)" [disabled]="disabled"></nouislider>
      </div>
      <div class="col-sm-2">
        <input class="form-control" [min]="someMin" [max]="someMax" name="max" [(ngModel)]="someValue[1]" type="number" (change)="onChange1(someValue)" (input)="onChange1(someValue)">
      </div>
    </div>
  </form>
  <p> {{someValue | json }}</p>
</div>